/* Home Page Stylyng */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
:root {
    /* loght color */
    --light-color: #EE9617;
    /* dark color #D44800 */
    --dark-color: #FE5858;
    /* Creating font family */
    --font: 'Lato', sans-serif;
    /* Fill color */
    --fill-color: #D44800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font);
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    /* Only render when in viewport */
    content-visibility: auto;
}

svg {
    z-index: 1;
}


/* section header */

.h1 {
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
    color: #160637;
}

.h1:before {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #8989A2;
    margin: 10px auto;
}

.h1 span {
    color: var(--dark-color);
}


/* section header end */

.container {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    #firstSection {
        width: 100%;
        height: 800px;
    }
    #firstSection svg {
        position: absolute;
        bottom: 0;
        visibility: visible !important;
    }
    #firstSection nav {
        display: flex;
        flex-direction: row;
        color: #fff;
        margin-top: 30px;
    }
    #firstSection #navbar {
        flex: 0%;
    }
}

#firstSection {
    background-image: linear-gradient(to left, var(--light-color), var(--dark-color));
    /* width: 100%;
    height: 800px; */
    /* background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    padding-top: 30px;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#firstSection nav {
    color: #fff;
}

#firstSection svg {
    visibility: hidden;
}


/* navbarstylyng */

#firstSection #navbar,
#firstSection #navbar {
    text-align: center;
}

#firstSection #navbar {
    flex: 70%;
}

#firstSection nav #button {
    flex: 25%;
}

#firstSection nav #button button {
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    color: var(--fill-color);
    background: #fff;
    float: right;
    font-size: 15px;
    padding: 13px 30px;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    flex: 10%;
    display: flex;
}

#firstSection #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
}

#firstSection #navbar ul>li {
    padding: 15px;
    font-size: 16px;
    font-weight: bolder;
}

#firstSection #img-list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 5%;
    left: 10%;
    height: 50px;
    z-index: 100;
}

#firstSection #img-list h4 {
    margin: 0;
    margin-right: 30px;
}

#firstSection #img-list h4:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#firstSection #img-list img {
    margin-right: 70px;
}

#firstSection .first-content {
    width: 100%;
    padding: 50px 0;
    display: flex;
}

#firstSection .first-content .content {
    font-size: larger;
    color: #fff;
    flex: 60%;
}

#firstSection .first-content .guys {
    flex: 40%;
}

#firstSection .first-content .guys img {
    max-height: 650px;
    display: none;
}

#firstSection .first-content .guys .display {
    display: block;
    animation: imageEnter 2s;
}

@keyframes imageEnter {
    0% {
        transform: translateX(-300px);
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#firstSection .first-content .content h3 {
    margin: 0;
    padding: 0;
}

#firstSection .first-content .content .btns {
    display: inline-flex;
    justify-content: space-around;
    padding: 60px 0;
}

#firstSection .first-content .content .btns button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 13px 30px;
    margin-right: 30px;
    cursor: pointer;
}

#firstSection .first-content .content .btns button:nth-child(1) {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

#firstSection .first-content .content .btns button:nth-child(2) {
    color: var(--fill-color);
    background-color: #fff;
    border: 1px solid #fff;
}

.up {
    text-align: center;
    background: black;
    color: #fff;
    padding: 15px 0;
    opacity: .9;
    animation: updown 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    position: absolute;
    z-index: 1;
    width: 100%;
}

@keyframes updown {
    0% {
        transform: translateY(-450px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: .9;
    }
}

.up a {
    text-decoration: none;
    color: var(--dark-color);
}


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--dark-color);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-image: linear-gradient(to right, var(--light-color), var(--dark-color));
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-image: linear-gradient(to left, var(--light-color), var(--dark-color));
}


/* Style the container/contact section
  */


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    color: #fff !important;
}

.column svg {
    fill: var(--dark-color);
    stroke: #fff;
    stroke-width: 4px;
    transition: fill 0.3s;
    height: 100%;
    width: 100%;
}

.column svg :hover {
    fill: #000;
}

.row {
    position: relative;
    padding: 50px 0;
    background-image: linear-gradient(to top left, var(--light-color), var(--dark-color));
}

.top {
    position: absolute;
    display: block;
    align-content: center;
    align-self: center;
    width: 0;
    height: 0;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid var(--dark-color);
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* FOOTER */

.footer {
    width: 100%;
    background: #00121b;
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
}

.footer-items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
}

.footer-items h1 {
    color: #fff;
}

.border1 {
    height: 3px;
    width: 40px;
    background: #ff9800;
    color: #ff9800;
    background-color: #ff9800;
    border: 0px;
}

.footer ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.footer ul a:hover {
    color: #ff9800;
}

.footer ul li {
    margin: 10px 0;
    height: 25px;
}

.footer li i {
    margin-right: 20px;
}

.social-media {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    height: 25px;
    width: 25px;
    margin: 20px 10px;
    padding: 4px;
    color: #fff;
    transition: 0.5s;
}

.social-media i:hover {
    transform: scale(1.5);
}

.footer-bottom {
    padding: 10px;
    background: #00121b;
    color: #fff;
    font-size: 12px;
    text-align: center;
}


/* for tablet mode view */

@media screen and (max-width: 1275px) {
    .footer-items {
        width: 50%;
    }
}


/* for mobile screen view */

@media screen and (max-width: 660px) {
    .footer-items {
        width: 100%;
    }
}


/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */


/* Thanks to Computer Conversations */


/* testimonials styling */

#section4 {
    position: relative;
    padding: 0;
    /* height: 400px; */
    /* overflow: hidden; */
    height: 1000px;
    background-image: linear-gradient(to left, var(--light-color), var(--dark-color));
}

#section4 svg {
    position: absolute;
    /* width: 100%; */
}

#section4 .svg1 {
    top: 0;
}

#section4 .svg2 {
    bottom: 0;
    left: 0;
}

.testimonials-section {
    background-image: linear-gradient(to left, var(--light-color), var(--dark-color));
    height: 600px;
    position: absolute;
    width: 100%;
    margin: 200px auto;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 80px 12px;
    border-radius: 0%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
    left: -300%;
}

.slider__nav:checked:nth-of-type(5)~.slider__inner {
    left: -400%;
}

.slider__inner {
    position: absolute;
    top: 80px;
    left: 0;
    width: 500%;
    height: auto;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__contents img {
    width: 100px !important;
    height: 100px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.slider__caption {
    font-size: 14px;
    color: #111;
    opacity: .5;
    font-family: 'Roboto';
    font-weight: bold;
}

.slider__txt {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto';
    line-height: 1.7;
    color: #111;
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 750px;
}

quote {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 100px;
    color: #ec2027;
    margin-bottom: 0;
    height: 80px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}


/* end testimonials styling */


/* why us start */

#section3 {
    padding-bottom: 200px;
    position: relative;
}

#section3 ul {
    list-style: none;
}

#section3 ul li:nth-child(2) {
    color: var(--dark-color);
}

#section3 ul li:nth-child(1) {
    color: #160637;
}

#section3 ul li:nth-child(4) {
    color: grey;
}

#section3 .content {
    display: flex;
    height: 300px;
    margin: 50px;
    box-shadow: -3px 5px 44px -11px rgba(56, 45, 45, 0.75);
    -webkit-box-shadow: -3px 5px 44px -11px rgba(56, 45, 45, 0.75);
    -moz-box-shadow: -3px 5px 44px -11px rgba(56, 45, 45, 0.75);
}

#section3 .one {
    background: var(--light-color);
    flex: 5%;
}

#section3 .two {
    flex: 70%;
    padding: 4%;
}

#section3 .tree {
    background-image: linear-gradient(to left, var(--light-color), var(--dark-color));
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section3 .tree button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 13px 30px;
    margin-right: 30px;
    cursor: pointer;
    color: var(--fill-color);
    background-color: #fff;
    border: 1px solid #fff;
}


/* why us end */


/* question section start */

#section2 {
    padding-top: 30px;
    position: relative;
}

#section2 .content {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    #section2 .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #section2 .container {
        padding-right: unset;
        padding-left: unset;
        margin-right: unset;
        margin-left: unset;
    }
}

#section2 .content div {
    flex: 50%;
    padding: 80px;
}

#section2 .content div ul {
    list-style: none;
}

#section2 .content div ul li:before {
    content: "•";
    font-size: 110%;
    /* or whatever */
    padding-right: 15px;
}

#section2 .content div ul li {
    font-size: 1.2em;
    color: #160637;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--dark-color);
}

#section2 .content div ul p {
    font-size: .9em;
    color: #8989A2;
    font-weight: normal;
    line-height: 25px;
}

#section2 .grid {
    /* margin-top: 150px; */
    position: absolute;
    left: 0;
}

#section2 .content #img {
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%,
    100% {
        margin-left: 0;
    }
    50% {
        margin-left: 5px;
    }
}


/* question section end */